<div class="d-flex justify-content-center align-items-center fulldiv"
    style="width: 100vw; height: 100vh;         background: linear-gradient(253.65deg, rgb(240, 240, 255) 0%, rgb(255, 255, 255) 68.52%);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card shadow rounded-4 border-0 p-4">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="title">
                                PRINCE QR Code Generator
                            </div>
                            <label class="form-label fw-bold" for="urlInput">Enter your link</label>
                            <input type="text" id="urlInput" [(ngModel)]="url" (input)="changeUrl(url)"
                                class="form-control mb-4" placeholder="https://your-website.com" />
                            <div class="d-flex gap-3 align-items-center">
                                <div>
                                    <label class="form-label fw-bold">Select a level</label>
                                    <div class="d-flex gap-3 xclass">
                                        <div class="text-center" *ngFor="let level of qrLevels">
                                            <div class="border p-2 rounded-2"
                                                [class.border-primary]="selectedLevel === level.name"
                                                (click)="selectLevel(level.name)" style="cursor: pointer">
                                                <img [src]="level.image" width="60" />
                                            </div>
                                            <div class="small mt-1">Level {{ level.name }}<br />{{ level.percent }}%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex gap-3 align-items-center">
                                <div>
                                    <label class="form-label fw-bold">Select a logo</label>
                                    <div class="d-flex gap-3 xclass">
                                        <div class="text-center" *ngFor="let logoItem of logoList">
                                            <div (click)="clickLogo( logoItem.image)" class="border p-2 rounded-2"
                                                style="cursor: pointer"
                                                [class.border-primary]="selectedLogo === logoItem.image">
                                                <img [src]="logoItem.image" width="45" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 d-flex flex-column align-items-center justify-content-center text-center"
                            style="gap: 10px;">
                            <!-- <div class="d-flex justify-content-center">
                                <img src="../assets/princelogo.jpg" width="120" style="border-radius: 50%;" alt="">
                            </div> -->
                            <div class="border rounded-4 p-3 mb-2"
                                style=" background: linear-gradient(253.65deg, rgb(240, 240, 255) 0%, rgb(255, 255, 255) 68.52%);">
                                <qrcode [qrdata]="myAngularxQrCode" [allowEmptyString]="true"
                                    [ariaLabel]="'QR Code image with the following content...'" [cssClass]="'center'"
                                    [colorDark]="'#000000ff'" [colorLight]="'#ffffffff'" [elementType]="'canvas'"
                                    [errorCorrectionLevel]="selectedLevel" [imageSrc]="selectedLogo" [imageHeight]="30"
                                    [imageWidth]="30" [margin]="4" [scale]="1" [title]="'A custom title attribute'"
                                    [width]="250" (qrCodeURL)="onChangeURL($event)">
                                </qrcode>
                                <div>
                                    <a class="btn btn-primary px-4 rounded-pill mt-2" [href]="qrCodeDownloadLink"
                                        download="qrcode">Download QR</a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>